.cabecalho {
    display: flex;
    background-image: url(./Imagens/redpikachu.jpg);
    background-position: -11rem;
    background-size: 100%;
    width: 100%;
    padding-top: 7.75rem;
    padding-bottom: 7.75rem;
    
}



.logoca {
    position: absolute;
    top: 0;
    left: 0;
    width: 10.5rem;
    margin-left: .4rem;
    
}

.posicao_links {
    display: flex;
    position: relative;
    top: 2rem;
    left: 67vw;
    text-transform: uppercase;
    color: rgb(255, 255, 109);
    font-weight: 300;
    font-family: 'Montserrat';
    justify-content: space-evenly;
}

.logo_cadastro {
    padding-right: 1rem;
    font-size: 2rem;
    font-family: 'Montserrat';
    font-weight: 900;
    text-shadow: 3px 3px 8px #000000;
    color: rgb(223, 223, 223);
}

.logo_loguin {
    
    font-size: 2rem;
    font-family: 'Montserrat';
    font-weight: 900;
    text-shadow: 3px 3px 8px #000000;
    color: rgb(223, 223, 223);
    
}

.cabecalho__links {
    display: flex;
    width: 100%;
    background: linear-gradient(white,red 50%,white);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: space-evenly;  
    font-weight: 900;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: white;
    text-shadow: 5px 5px 5px #000000;  
}

.sair-botao {
    margin-left: 2rem;
    padding: 0rem 1rem;
    border-style: none;
    background: darkred;
    color: white;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 5px;
}

.sair-botao:hover {
    background: rgb(90, 0, 0);
    transition: all .3s ease-out;
    transform: scale(1.2);
}

.pokemon_home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(./Imagens/pokebolafundo.jpg);
    

    
    
}

h2 {
    font-size: 5rem;
    color: yellow;
    text-shadow: 5px 5px 5px #000000;
    font-weight: 900;
    font-family: 'Montserrat';
    padding-right: 10rem;
    padding-top: 3rem;
    margin-left: 10rem;
    text-align: center;
}

a {
    color: #eee;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: rgb(139, 139, 139);
    transition: all .3s ease-out;
}

h1 {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 2px 2px 2px black;
}

.alinhamento {
    width: 100%;
    background: #eee;
}

.corpo {
    width: 25%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    background: red;
    padding: 4rem 7rem;
    border-radius: 5px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    box-shadow: 5px 5px 5px black;
}

.compra {
    width: 100%;
    padding: 1rem 1rem;
}

.saque {
    width: 100%;
    padding: 1rem 1rem;

}

.adicionar {
    width: 70%;
    border-style: none;
    border-radius: 5px;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem;
    background: yellow;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1rem;
}

.reduzir {
    width: 70%;
    border-style: none;
    border-radius: 5px;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem;
    background: yellow;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1rem;
}

.reduzir:hover {
    background-color: rgb(209, 209, 1);
    transition: all .3s ease-out;
    transform: scale(1.2);
    cursor: pointer;
}

.adicionar:hover {
    background-color: rgb(209, 209, 1);
    transition: all .3s ease-out;
    transform: scale(1.2);
    cursor: pointer;
}


#deposito {
    width: 100%;
    border-style: none;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    align-items: center;
}

p {
    text-align: center;
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
}

#saque {
    width: 100%;
    border-style: none;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    align-items: center;
}

.footer {
    background-color: black;
}

.pokemonpng {
    position: absolute;
    width: 10rem;
    padding: 1rem;
}

.pokebolapng {
    position: relative;
    width: 5rem;
    left: 90vw;
    top: 2rem;
}

h4 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.contatosrodape {
    color: white;
    padding: 3rem;
    padding-left: 5rem;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 300;
}

.productions {
    padding-top: 5rem;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1rem;
}