html, body, .container{
    min-width: 100vh
}

@media screen and (max-width: 420px) {
    html, body, .container {
        min-width: 100vh;
    }
}

h2 {
    font-size: 3rem;
    color: yellow;
    text-shadow: 5px 5px 5px #000000;
    font-weight: 900;
    font-family: 'Montserrat';
    padding-right: 10rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-left: 10rem;
    text-align: center;
}

a {
    color: #eee;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
}

a:hover {
    color: #FECA05;
}

.cabecalho {
    background-image: url(./Imagens/redpikachu.jpg);
    background-position: -11rem;
    background-size: 100%;
    width: 100%;
}

.logoca {
    display: flex;
    flex: 2 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.logo {
    width: 15rem;
}

.links__hero {
    color: rgb(245,68,68);
    padding-right: 1rem;
    font-size: 1.8rem;
    font-family: 'Montserrat';
    font-weight: 900;
}

.links__hero:hover {
    color: #2d88ff;
}

.link__login {
    background: rgb(245,68,68);
    color: white;
    padding: .8rem;
    border-radius: 5px;
}

.cabecalho__links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: rgb(245,68,68);
    background: linear-gradient(90deg, rgba(245,68,68,1) 0%, rgba(238,62,62,1) 36%, rgba(255,48,48,1) 48%, rgba(240,41,41,1) 70%, rgba(254,66,66,1) 98%);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: white;
    font-weight: 900;
    font-family: 'Montserrat';
    font-size: 1.5rem;
}

.pokemon_home-container {
    width: 100%;
    background-image: url(../imagens/pokebolafundo.jpg);
    padding-bottom: 6rem;
}

.pokemon_home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.box_home {
    width: 100%;
    max-width: 250px;
    border-radius: 7px;
    border: 2px solid black;
    background: linear-gradient(90deg, gray, green);
    box-shadow: 5px 5px 8px #000000;
    overflow: hidden;
    padding: 1.5%;
}

.box_home2 {
    width: 100%;
    max-width: 250px;
    border-radius: 7px;
    border: 2px solid black;
    background: linear-gradient(90deg, gray, red);
    box-shadow: 5px 5px 8px #000000;
    overflow: hidden;
    padding: 1.5%;
}

.box_home3 {
    width: 100%;
    max-width: 250px;
    border-radius: 7px;
    border: 2px solid black;
    background: linear-gradient(90deg, gray, blue);
    box-shadow: 5px 5px 8px #000000;
    overflow: hidden;
    padding: 1.5%;
}

.box_home4 {
    width: 100%;
    max-width: 250px;
    border-radius: 7px;
    box-shadow: 0 2px 10px 2px #00000010;
    border: 2px solid black;
    background: linear-gradient(90deg, gray, yellow);
    box-shadow: 5px 5px 8px #000000;
    margin-left: 1rem;
    overflow: hidden;
}

.box_home5 {
    width: 100%;
    max-width: 250px;
    border-radius: 7px;
    box-shadow: 0 2px 10px 2px #00000010;
    border: 2px solid black;
    background: linear-gradient(90deg, red, orange, green, blue, purple);
    box-shadow: 5px 5px 8px #000000;
    overflow: hidden;
}

.home__img {
    width: 100%;
    object-fit: cover;
    object-fit: contain;
    height: 200px;
}

.texto_nome {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Montserrat';
    padding-top: 1rem;
    color: white;
    text-decoration: brown;
    text-shadow: 5px 5px 8px #000000;
}

.texto_box {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Montserrat';
    font-weight: 900;
    color: rgb(255, 230, 0);
    text-shadow: 5px 5px 8px #000000;
}

.texto_baixo1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    color: white;
}

.texto_baixo {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
    padding-top: 5px;
    color: white;
}

.botao_compre {
    width: 100%;
    background: rgb(202, 131, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.4rem 2rem 0.4rem 2rem;
    font-family: 'Montserrat';
    font-weight: 300;
}

.botao_compre:hover {
    background: darkorange;
    transform: scale(1.2);
}

.box_vantagens {
    display: flex;
    background-color: red;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.texto_video {
    padding-left: 3rem;
    padding-right: 5rem;
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
}

.titulo_video {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.video_abertura {
    position: relative;
    right: 5vw;
}

.footer {
    background-color: black;
}

.pokemonpng {
    position: absolute;
    width: 10rem;
    padding: 1rem;
}

.pokebolapng {
    position: relative;
    width: 5rem;
    left: 90vw;
    top: 2rem;
}

h4 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.contatosrodape {
    color: white;
    padding: 3rem;
    padding-left: 5rem;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 300;
}

.productions {
    padding-top: 5rem;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1rem;
}
