/*
==============
    Globals
==============
 */
html, body, .container{
    min-width: 100vh
}

@media screen and (max-width: 420px) {
    html, body, .container {
        min-width: 100vh;
    }
}

.corpo-reset {
    background: none!important;
    box-shadow: none!important;
}

.title {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 2px 2px 2px black;
}

.title-contato {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 2.5rem;
    margin: 0rem 3rem 2rem 3rem;
}

.heading {
    font-size: 3rem;
    color: yellow;
    text-shadow: 5px 5px 5px #000000;
    font-weight: 900;
    font-family: 'Montserrat';
    padding-right: 10rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-left: 10rem;
    text-align: center;
}

a {
    color: #eee;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
}

a:hover {
    color: #FECA05;
}

.btn-white {
    background-color: transparent;
    border-color: white;
    color: white;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-out;
    width: 200px;
}
.btn-white:hover {
    background-color: rgb(136, 1, 1);
}

.sair-botao {
    margin-left: 2rem;
    padding: 0rem 1rem;
    border-style: none;
    background: darkred;
    color: white;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 5px;
}
.sair-botao:hover {
    background: rgb(90, 0, 0);
    transition: all .3s ease-out;
    transform: scale(1.01);
}

hr {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

/*
==============
    Header
==============
 */
.cabecalho {
    background-image: url(./Imagens/redpikachu.jpg);
    background-position: -11rem;
    background-size: 100%;
    width: 100%;
}

.logoca {
    display: flex;
    flex: 2 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
}

@media screen and (min-width: 1440px) {
    .logoca {
        padding: 0 3.9rem;
    }
}

.logo {
    width: 15rem;
}

.links__hero {
    color: rgb(245,68,68);
    padding-right: 1rem;
    font-size: 1.8rem;
    font-family: 'Montserrat';
    font-weight: 900;
}

.links__hero:hover {
    color: #2d88ff;
}

.link__login {
    background: rgb(245,68,68);
    color: white;
    padding: .8rem;
    border-radius: 5px;
}

.link__login:hover {
    border: 2px solid rgb(245,68,68);
    color: rgb(245,68,68);
    background-color: transparent;
}

.cabecalho__links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: rgb(245,68,68);
    background: linear-gradient(90deg, rgba(245,68,68,1) 0%, rgba(238,62,62,1) 36%, rgba(255,48,48,1) 48%, rgba(240,41,41,1) 70%, rgba(254,66,66,1) 98%);
    border-top: 2px solid #020202;
    border-bottom: 2px solid #020202;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.cabecalho__link {
    color: white;
    font-weight: 900;
    font-family: 'Montserrat';
    font-size: 1.5rem;
}

/*
==============
    Home
==============
 */
.pokemon_home-container {
    width: 100%;
    background-image: url(../imagens/pokebolafundo.jpg);
    padding-bottom: 6rem;
}

.pokemon_home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 2rem;
}

.box_home {
    width: 100%;
    max-width: 250px;
    border-radius: 7px;
    border: 2px solid black;
    box-shadow: 5px 5px 8px #000000;
    overflow: hidden;
    padding: 1.5%;
}

#bg-home-1 {
    background: linear-gradient(90deg, gray, green);
}
#bg-home-2 {
    background: linear-gradient(90deg, gray, red);
}
#bg-home-3 {
    background: linear-gradient(90deg, gray, blue);
}
#bg-home-4 {
    background: linear-gradient(90deg, gray, yellow);
}
#bg-home-5 {
    background: linear-gradient(90deg, gray, rgb(73, 73, 255));
}
#bg-home-6 {
    background: linear-gradient(90deg, gray, brown);
}
#bg-home-7 {
    background: linear-gradient(90deg, red, orange, green, blue, purple);
}
#bg-home-8 {
    background: linear-gradient(90deg, gray, purple);
}
#bg-home-9 {
    background: linear-gradient(90deg, red, orange, green, blue, purple);
}

.home__img {
    width: 100%;
    object-fit: cover;
    object-fit: contain;
    height: 200px;
}

.texto_nome {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Montserrat';
    padding-top: 1rem;
    color: white;
    text-decoration: brown;
    text-shadow: 5px 5px 8px #000000;
}

.texto_box {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Montserrat';
    font-weight: 900;
    color: rgb(255, 230, 0);
    text-shadow: 5px 5px 8px #000000;
}

.texto_baixo {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    color: white;
}

.botao_compre {
    width: 100%;
    background: rgb(202, 131, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.4rem 2rem 0.4rem 2rem;
    font-family: 'Montserrat';
    font-weight: 300;
}

.botao_compre:hover {
    background: darkorange;
    transform: scale(1.2);
}

/*
==============
    Box
    Vantagens
==============
 */
.box_vantagens {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    padding-top: 3rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
}

.texto_video {
    padding-left: 3rem;
    padding-right: 5rem;
    color: white;
    font-family: 'Montserrat';
    font-weight: 900;
    line-height: 23px;
}

.titulo_video {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 1.8rem;
    line-height: 45px;
}

.video_abertura {
    min-width: 500px;
    min-height: 250px;
}

@media screen and (max-width: 768px) {
    .box_vantagens {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .texto_video {
        margin-bottom: 2rem;
    }

    .video_abertura {
        min-width: 500px;
        min-height: 200px;
    }
}

/*
==============
    Footer
==============
*/
.footer {
    background-color: black;
}

.pokemonpng {
    position: absolute;
    width: 10rem;
    padding: 1rem;
}

.pokebolapng {
    width: 5rem;
}

.subheading {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.footer-logos {
    padding: 1rem 0.8rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.footer-logos img {
    display: block;
}

.contatos-rodape {
    color: white;
    padding: 3rem;
    padding-top: 2rem;
    padding-left: 5rem;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 300;
}

.contatos-rodape p:not(:last-child) {
    margin-bottom: 12px;
}

.productions {
    padding-top: 3rem;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1rem;
}


/*
==============
    Estrelas
==============
*/
.alinhamento {
    width: 100%;
    background: #eee;
}

.corpo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 56vw;
    background: red;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 3rem 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.corpo > form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 760px){
    .corpo {
        max-width: 76vw;
    }
}
@media screen and (max-width: 320px){
    .corpo {
        max-width: 86vw;
    }
}

form .row {
    width: 100%;
    padding: 0 1.1rem;
}
form .row:not(:last-child) {
    margin-bottom: 1rem;
}

.row label {
    display: block;
    text-align: center;
    color: white;
    padding: .4rem 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
}

.compra {
    width: 100%;
    padding: 1rem 1rem;
}
.saque {
    width: 100%;
    padding: 1rem 1rem;

}

.adicionar,
.reduzir {
    width: 100%;
    background: yellow;
    border-style: none;
    border-radius: 5px;
    padding: 1rem 0;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1rem;
}

.reduzir:hover {
    background-color: rgb(209, 209, 1);
    transition: all .3s ease-out;
    transform: scale(1.01);
    cursor: pointer;
}

.adicionar:hover {
    background-color: rgb(209, 209, 1);
    transition: all .3s ease-out;
    transform: scale(1.01);
    cursor: pointer;
}

.row input {
    text-align: center;
}

#deposito {
    width: 100%;
    border-style: none;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    align-items: center;
}

#saque {
    width: 100%;
    border-style: none;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    align-items: center;
}

/*
==============
    Contato
==============
*/
.contato.corpo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card {
    width: 40vw;
    background-color: rgb(223, 12, 12);
    padding: 4rem 1rem;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000080;
}

@media screen and (max-width: 760px){
    .card {
        width: 76vw;
    }
}
@media screen and (max-width: 375px){
    .card {
        width: 100vw;
    }
}
@media screen and (min-width: 1440px){
    .card {
        width: 409.59px;
    }
}

.card p {
    color: white;
    font-size: 14pt;
    text-align: center;
}

.card a {
    color: #eee;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
}
.card a:hover {
    color: rgb(139, 139, 139);
}

.card form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.fa-eye {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: white;
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 3%;
    margin-bottom: 5%;
}

.label-float input:focus{
    border-bottom: 2px solid white;
}

#usuario {
    color: white;
}

#senha {
    color: black;
    padding-bottom: 5rem;
    background: white;
    position: relative;
    top: 1.5rem;
    /* width: 100%; */
    min-width: 280px;
}

.label-float label {
    color: white;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: white;
}

/*
==============
    Login
==============
*/
.login.corpo {
    margin-top: 10px;
    margin-bottom: 20px;
}

.login .card .title-contato {
    margin-bottom: 1rem;
}

.login hr {
    margin: 24px 0;
}

@media screen and (max-width: 425px){
    .login .card {
        width: 100vw;
    }
}
@media screen and (min-width: 768px){
    .login .card {
        max-width: 328px;
    }
}

/*
==============
    Produtos
  Pokemons
==============
*/
.cart-container {
    background-color: #000;
    padding: .6rem 0;
    color: #fff;
    border-top: 4px solid rgb(223, 12, 12);
    border-bottom: 4px solid rgb(223, 12, 12);
}

.cart-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    padding: 2rem 2rem;
    border-bottom: 2px solid white;
    margin: 0 auto;
    width: 60%;
    background:linear-gradient(90deg, black, #eee);
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-purchase {
    position: relative;
    margin: 0 auto;
    display: flex;
    border-style: none;
    padding: 1rem 5rem;
    border-radius: 5px;
    background-color: lime;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Montserrat';
    margin-bottom: 5rem;
}

.btn-purchase:hover {
    background-color: rgb(93, 255, 93);
    cursor: pointer;
    transition: 0.7s;
}

.cart-item-title {
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    font-size: 1.5rem;
}

.cart-price {
    color:rgb(255, 230, 0);
    font-family: 'Montserrat';
    font-weight: 900;
}

.carrinho-titulo {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    margin: 3rem 26rem;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
}

.cart-total {
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat';
    width: 60%;
    margin: 0 auto;
    border: 2px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, red, black);
    border-radius: 5px;
}

.cart-total-title {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.cart-total-price {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 230, 0);
}

.cart-quantity-input {
    position: relative;
    width: 20%;
    left: 2rem;
    font-size: 1rem;

}

.btn-danger {
    position: relative;
    left: 6rem;
    padding: 1rem 1.5rem;
    border-style: none;
    font-family: 'Montserrat';
    font-weight: 900;
    background: red;
    color: white;
    border-radius: 5px;
}

.btn-danger:hover {
    background: rgb(165, 0, 0);
	transform: scale(1.2);
    cursor: pointer;
    transition: 0.7s;
}

.cart-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
